<%- include("partials/header"); -%>

<h1>About</h1>
<p>Nothing much! just find me here <a href="https://github.com/anuuraagg">https://github.com/anuuraagg</a></p>

<%- include("partials/footer"); -%>