<%- include("partials/header"); -%>

<h1>Contact</h1>
<p style="margin-bottom: 2px;">Contact <strike> US </strike>  me here</p>
<p><a href="mailto:wtfanurag04@gmail.com">wtfanurag04@gmail.com</a> | <a href="https://www.linkedin.com/in/anurag-yadav04/">Linkedin</a></p>

<%- include("partials/footer"); -%>